@model IEnumerable<PyoyectoTest.Models.Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PRODUCTOS</h2>

@if (ViewBag.ProductosSinStock != null && ((List<string>)ViewBag.ProductosSinStock).Count > 0)
{
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var productosSinStock = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ProductosSinStock));
            Swal.fire({
                title: 'Sin Stock',
                text: 'Los siguientes productos no tienen stock: ' + productosSinStock.join(', '),
                icon: 'warning',
                confirmButtonText: 'OK'
            });
        });
    </script>
}
<p>


    @if (!User.IsInRole("Cliente"))
    {
        @*@Html.ActionLink("Create New", "Create")*@
        <a href="@Url.Action("Create", "Productos")" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Create New</span>
        </a>
    }

</p>
<table class="table">
    <tr>
        <th>
            NOMBRE
        </th>
        <th>
            PRECIO
        </th>
        <th>
            STOCK
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductoID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductoID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductoID })*@



                @if (!User.IsInRole("Cliente"))
                {
                    <a href="@Url.Action("Edit", "Productos", new {  id = item.ProductoID })" class="btn btn-warning btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-pen"></i>
                        </span>
                        <span class="text">Edit</span>
                    </a>

                    <a href="@Url.Action("Details", "Productos", new {  id = item.ProductoID  })" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">Details</span>
                    </a>

                    <a href="@Url.Action("Delete", "Productos", new {  id = item.ProductoID  })" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Delete</span>
                    </a>
                }



            </td>
        </tr>
    }

</table>
