@model PyoyectoTest.Models.Pedidos

@{
    ViewBag.Title = "Crear Pedido";
}

<h2>Crear Pedido</h2>

@using (Html.BeginForm("Crear", "Pedidos", FormMethod.Post, new { id = "crearPedidoForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FechaPedido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaPedido, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.FechaPedido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:20px">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var producto in ViewBag.Productos)
                    {
                        <tr>
                            <td>@producto.NombreProducto</td>
                            <td>@producto.Precio</td>
                            <td>
                                <input type="hidden" name="productosIds" value="@producto.ProductoID" />
                                <input type="number" name="cantidades" value="0" min="0" max="@producto.Stock" class="cantidad-input" data-producto="@producto.NombreProducto" data-precio="@producto.Precio" />
                            </td>
                            <td class="producto-total">0.00</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3" class="text-right">Subtotal:</td>
                        <td id="subtotal">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">IVA (12%):</td>
                        <td id="iva">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right"><strong>Total:</strong></td>
                        <td id="total"><strong>0.00</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="chkConfirmacionCompra" /> Confirmo mi compra
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" id="botonesCompra" style="display:none;">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="crearBtn" class="btn btn-default">Crear</button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">Confirmar Pedido</h4>
            </div>
            <div class="modal-body">
                <p>Fecha del Pedido: <span id="modalFechaPedido"></span></p>
                <p>Productos:</p>
                <ul id="modalProductos"></ul>
                <p>Subtotal: <span id="modalSubtotal">0.00</span></p>
                <p>IVA (12%): <span id="modalIva">0.00</span></p>
                <p><strong>Total: <span id="modalTotal">0.00</span></strong></p>
                <p>¿Está seguro de que desea crear este pedido?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmBtn" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });

            $('#chkConfirmacionCompra').change(function () {
                if ($(this).is(':checked')) {
                    $('#botonesCompra').show();
                } else {
                    $('#botonesCompra').hide();
                }
            });

            $('.cantidad-input').on('input', function () {
                var subtotal = 0;
                $('.cantidad-input').each(function () {
                    var precio = parseFloat($(this).data('precio'));
                    var cantidad = parseInt($(this).val());
                    var total = precio * cantidad;
                    subtotal += total;
                    $(this).closest('tr').find('.producto-total').text(total.toFixed(2));
                });
                $('#subtotal').text(subtotal.toFixed(2));

                var iva = subtotal * 0.12;
                $('#iva').text(iva.toFixed(2));

                var total = subtotal + iva;
                $('#total').html('<strong>' + total.toFixed(2) + '</strong>');
            });

            $('#crearBtn').click(function (e) {
                e.preventDefault();
                // Obtener valores del formulario
                var fechaPedido = $('#FechaPedido').val();
                $('#modalFechaPedido').text(fechaPedido);

                var productos = [];
                var subtotal = 0;
                $('.cantidad-input').each(function () {
                    var cantidad = parseInt($(this).val());
                    var producto = $(this).data('producto');
                    var precio = parseFloat($(this).data('precio'));
                    var total = precio * cantidad;
                    subtotal += total;
                    if (cantidad > 0) {
                        productos.push(producto + " (Precio: " + precio.toFixed(2) + ", Cantidad: " + cantidad + ", Total: " + total.toFixed(2) + ")");
                    }
                });

                var iva = subtotal * 0.12;
                var totalCompra = subtotal + iva;

                var $modalProductos = $('#modalProductos');
                $modalProductos.empty();
                $.each(productos, function (index, producto) {
                    $modalProductos.append('<li>' + producto + '</li>');
                });

                $('#modalSubtotal').text(subtotal.toFixed(2));
                $('#modalIva').text(iva.toFixed(2));
                $('#modalTotal').text(totalCompra.toFixed(2));

                $('#confirmModal').modal('show');
            });

            $('#confirmBtn').click(function () {
                $('#crearPedidoForm').submit();
            });
        });
    </script>
}

