@model PyoyectoTest.Models.Pedidos

@{
    ViewBag.Title = "Resumen de la Compra";
}

<h2>Resumen de la Compra</h2>

<div>
    <h4>Nombre del Cliente: @Model.Cliente.Nombre</h4>
    <h4>Fecha del Pedido: @Model.FechaPedido.ToShortDateString()</h4>
    <h4>Monto Total de la Compra: @Model.Total.ToString("C")</h4>
</div>

<div>
    @Html.ActionLink("Ver Detalles", "Detalles", new { id = Model.PedidoId })
</div>

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>

