@model PyoyectoTest.Models.PedidosItems

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PedidosItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedidos.PedidoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedidos.PedidoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.NombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
